h1 {
  font-family: "Raleway Dots", cursive;
  font-size: 50px;
}

#hello {
  margin-left: 50px;
  margin-top: 150px;
  font-family: "Raleway Dots", cursive;
  font-size: 100px;
  position: absolute;
  top: 0;
  left: 0;
  color: #af3a8a;
  z-index: 9999;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(46vw, 47vw, 85px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.97;
  animation-delay: -0.2s;
  background: #8b26d9;
  transform: translate3d(81vw, 27vw, 95px);
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(83vw, 74vw, 75px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.5;
  animation-delay: -0.4s;
  background: #8bd926;
  transform: translate3d(38vw, 16vw, 63px);
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(41vw, 43vw, 51px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.81;
  animation-delay: -0.6s;
  background: #2f26d9;
  transform: translate3d(90vw, 48vw, 88px);
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(28vw, 72vw, 92px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.12;
  animation-delay: -0.8s;
  background: #d99426;
  transform: translate3d(67vw, 79vw, 21px);
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(88vw, 74vw, 85px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.53;
  animation-delay: -1s;
  background: #65d926;
  transform: translate3d(80vw, 11vw, 49px);
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(78vw, 43vw, 52px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.68;
  animation-delay: -1.2s;
  background: #26d99a;
  transform: translate3d(59vw, 21vw, 15px);
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(77vw, 3vw, 33px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.76;
  animation-delay: -1.4s;
  background: #2682d9;
  transform: translate3d(22vw, 73vw, 47px);
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(30vw, 69vw, 99px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.25;
  animation-delay: -1.6s;
  background: #94d926;
  transform: translate3d(49vw, 82vw, 71px);
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(25vw, 19vw, 66px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.29;
  animation-delay: -1.8s;
  background: #d926b8;
  transform: translate3d(82vw, 50vw, 68px);
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(20vw, 10vw, 62px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.02;
  animation-delay: -2s;
  background: #a3d926;
  transform: translate3d(13vw, 54vw, 88px);
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(84vw, 36vw, 42px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.88;
  animation-delay: -2.2s;
  background: #267dd9;
  transform: translate3d(71vw, 10vw, 53px);
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(64vw, 82vw, 84px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.09;
  animation-delay: -2.4s;
  background: #56d926;
  transform: translate3d(54vw, 36vw, 13px);
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(84vw, 45vw, 63px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.33;
  animation-delay: -2.6s;
  background: #26d96b;
  transform: translate3d(81vw, 59vw, 73px);
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(5vw, 82vw, 27px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.84;
  animation-delay: -2.8s;
  background: #d926af;
  transform: translate3d(38vw, 55vw, 30px);
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(34vw, 16vw, 5px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.58;
  animation-delay: -3s;
  background: #b5d926;
  transform: translate3d(88vw, 75vw, 9px);
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(73vw, 86vw, 35px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.54;
  animation-delay: -3.2s;
  background: #d95026;
  transform: translate3d(12vw, 64vw, 59px);
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(40vw, 68vw, 97px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.29;
  animation-delay: -3.4s;
  background: #2641d9;
  transform: translate3d(18vw, 74vw, 21px);
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(83vw, 47vw, 57px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.07;
  animation-delay: -3.6s;
  background: #6526d9;
  transform: translate3d(60vw, 90vw, 61px);
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(23vw, 65vw, 34px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.42;
  animation-delay: -3.8s;
  background: #68d926;
  transform: translate3d(82vw, 11vw, 5px);
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(14vw, 47vw, 73px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.25;
  animation-delay: -4s;
  background: #9726d9;
  transform: translate3d(81vw, 25vw, 58px);
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(9vw, 41vw, 40px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.5;
  animation-delay: -4.2s;
  background: #4dd926;
  transform: translate3d(17vw, 61vw, 85px);
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(83vw, 5vw, 25px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.21;
  animation-delay: -4.4s;
  background: #a926d9;
  transform: translate3d(35vw, 43vw, 34px);
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(73vw, 64vw, 73px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.55;
  animation-delay: -4.6s;
  background: #afd926;
  transform: translate3d(31vw, 15vw, 81px);
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(12vw, 67vw, 17px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.77;
  animation-delay: -4.8s;
  background: #7d26d9;
  transform: translate3d(11vw, 63vw, 12px);
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(66vw, 11vw, 55px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.82;
  animation-delay: -5s;
  background: #26d9d0;
  transform: translate3d(76vw, 87vw, 42px);
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(81vw, 39vw, 71px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.43;
  animation-delay: -5.2s;
  background: #53d926;
  transform: translate3d(83vw, 89vw, 13px);
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(29vw, 26vw, 81px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.78;
  animation-delay: -5.4s;
  background: #5326d9;
  transform: translate3d(18vw, 7vw, 95px);
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(37vw, 23vw, 18px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 5s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.75;
  animation-delay: -5.6s;
  background: #d9d626;
  transform: translate3d(27vw, 90vw, 25px);
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(84vw, 55vw, 5px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.88;
  animation-delay: -5.8s;
  background: #4726d9;
  transform: translate3d(79vw, 8vw, 93px);
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(1vw, 45vw, 71px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.11;
  animation-delay: -6s;
  background: #26d941;
  transform: translate3d(79vw, 55vw, 79px);
}

.particle {
  position: absolute;
  border-radius: 50%;
}

/*# sourceMappingURL=styles.css.map */
