h1 {
  font-family: "Raleway Dots", cursive;
  font-size: 50px;
}

#hello {
  margin-left: 50px;
  margin-top: 150px;
  font-family: "Raleway Dots", cursive;
  font-size: 100px;
  position: absolute;
  top: 0;
  left: 0;
  color: #af3a8a;
  z-index: 9999;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(68vw, 5vw, 56px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.6;
  animation-delay: -0.2s;
  background: #262fd9;
  transform: translate3d(29vw, 45vw, 6px);
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(39vw, 60vw, 29px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 5s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.48;
  animation-delay: -0.4s;
  background: #2629d9;
  transform: translate3d(2vw, 7vw, 22px);
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(64vw, 11vw, 97px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.29;
  animation-delay: -0.6s;
  background: #d95326;
  transform: translate3d(45vw, 70vw, 52px);
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(53vw, 88vw, 83px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.53;
  animation-delay: -0.8s;
  background: #d926c1;
  transform: translate3d(17vw, 19vw, 14px);
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(22vw, 68vw, 70px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.14;
  animation-delay: -1s;
  background: #d9268b;
  transform: translate3d(22vw, 70vw, 3px);
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(35vw, 8vw, 63px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.68;
  animation-delay: -1.2s;
  background: #26d941;
  transform: translate3d(5vw, 64vw, 56px);
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(56vw, 11vw, 16px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.12;
  animation-delay: -1.4s;
  background: #26d96e;
  transform: translate3d(11vw, 44vw, 99px);
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(43vw, 33vw, 46px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.17;
  animation-delay: -1.6s;
  background: #262cd9;
  transform: translate3d(89vw, 52vw, 25px);
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(73vw, 21vw, 85px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.1;
  animation-delay: -1.8s;
  background: #6e26d9;
  transform: translate3d(85vw, 42vw, 50px);
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(11vw, 57vw, 89px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.86;
  animation-delay: -2s;
  background: #d98526;
  transform: translate3d(48vw, 46vw, 89px);
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(86vw, 7vw, 39px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.79;
  animation-delay: -2.2s;
  background: #26d971;
  transform: translate3d(6vw, 62vw, 87px);
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(37vw, 34vw, 20px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.17;
  animation-delay: -2.4s;
  background: #4d26d9;
  transform: translate3d(46vw, 72vw, 87px);
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(39vw, 53vw, 54px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.19;
  animation-delay: -2.6s;
  background: #a926d9;
  transform: translate3d(52vw, 45vw, 94px);
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(24vw, 28vw, 44px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.11;
  animation-delay: -2.8s;
  background: #d92685;
  transform: translate3d(70vw, 66vw, 33px);
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(78vw, 56vw, 6px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.03;
  animation-delay: -3s;
  background: #5626d9;
  transform: translate3d(71vw, 2vw, 7px);
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(10vw, 89vw, 40px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 5s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.91;
  animation-delay: -3.2s;
  background: #26d98e;
  transform: translate3d(89vw, 28vw, 69px);
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(7vw, 21vw, 95px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.71;
  animation-delay: -3.4s;
  background: #2650d9;
  transform: translate3d(36vw, 74vw, 58px);
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(37vw, 30vw, 50px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.93;
  animation-delay: -3.6s;
  background: #c126d9;
  transform: translate3d(69vw, 60vw, 97px);
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(16vw, 20vw, 97px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 5s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.11;
  animation-delay: -3.8s;
  background: #26b8d9;
  transform: translate3d(82vw, 72vw, 39px);
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(38vw, 6vw, 5px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.22;
  animation-delay: -4s;
  background: #d95f26;
  transform: translate3d(48vw, 87vw, 24px);
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(61vw, 18vw, 41px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 5s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.54;
  animation-delay: -4.2s;
  background: #26d947;
  transform: translate3d(39vw, 22vw, 4px);
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(8vw, 84vw, 77px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.64;
  animation-delay: -4.4s;
  background: #26d3d9;
  transform: translate3d(11vw, 41vw, 57px);
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(6vw, 90vw, 11px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 5s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.47;
  animation-delay: -4.6s;
  background: #2697d9;
  transform: translate3d(42vw, 1vw, 70px);
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(31vw, 70vw, 70px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 5s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.7;
  animation-delay: -4.8s;
  background: #d926b2;
  transform: translate3d(57vw, 23vw, 85px);
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(50vw, 22vw, 87px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.42;
  animation-delay: -5s;
  background: #d926a0;
  transform: translate3d(63vw, 27vw, 60px);
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(38vw, 73vw, 4px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 5s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.32;
  animation-delay: -5.2s;
  background: #26d956;
  transform: translate3d(16vw, 59vw, 99px);
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(3vw, 14vw, 31px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.73;
  animation-delay: -5.4s;
  background: #26bbd9;
  transform: translate3d(47vw, 8vw, 84px);
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(64vw, 5vw, 81px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.36;
  animation-delay: -5.6s;
  background: #d92650;
  transform: translate3d(36vw, 40vw, 70px);
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(23vw, 76vw, 5px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 5s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.84;
  animation-delay: -5.8s;
  background: #9d26d9;
  transform: translate3d(79vw, 66vw, 22px);
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(23vw, 7vw, 37px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 5s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.79;
  animation-delay: -6s;
  background: #2659d9;
  transform: translate3d(79vw, 71vw, 17px);
}

.particle {
  position: absolute;
  border-radius: 50%;
}

/*# sourceMappingURL=styles.css.map */
